@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --cor-primaria: rgb(36, 127, 155);
    --cor-secundaria: rgb(18, 56, 68);
    --cor-container: rgb(255, 255, 255);
    --cor-borda: rgb(0, 0, 0);
    --font-primaria: 'Poppins', sans-serif;
    --cor-erro: rgb(163, 36, 36);
}

*{
    box-sizing: border-box;
    outline: 0;
    font-family: var(--font-primaria);
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-primaria);
}

.container{
    max-width: 640px;
    margin: 40px auto 10px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-container);
}

h1,h2{
    margin: 10px 0;
    text-align: center;
    color: var(--cor-secundaria);
}

h3{
    text-align: center;
    color: var(--cor-secundaria);
}

.infos{
    display: flex;
    gap: 90px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
}

.colunas{
    display: flex;
    flex-direction: column;
}

.colunas ul{
    margin: 4px 0;
    list-style-type: none;
    
}

form {
    border: 1px solid var(--cor-secundaria);
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
}
form input, form label, form button{
    display: block;
    margin: auto;
    width: 85%;
}

form input {
    font-size: 24px;
    height: 40px;
    padding: 0 15px;
}

form input:focus{
    outline: 1px solid var(--cor-primaria);
}

form button{
    margin-top: 20px;
    border: none;
    background-color: var(--cor-primaria);
    color: #fff;
    border-radius: 4px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

form button:hover{
    background-color: var(--cor-secundaria);
}

.erro{
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--cor-erro);
    width: fit-content;
    transition: all 0.4s ease;
    color: #fff;
}

.resultado{
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    transition: all 0.3s ease;
}

.peso-normal { background-color: #81c784; color: #ffffff; }
.abaixo-peso { background-color: #ffcc80; color: #e64a19; }
.sobrepeso { background-color: #fff176; color: #f57f17; }
.obesidade-leve { background-color: #ff7043; color: #ffffff; }
.obesidade-media { background-color: #ff5722; color: #ffffff; }
.obesidade-grave { background-color: #d32f2f; color: #ffffff; font-weight: bold; }